@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --font1: verdana, genera, tahoma, sans-serif;
    --font2: 'passion one', cursive;
    --font3: 'sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font1);
    font-size: 4.5rem;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}


header >p {
    padding-bottom: 50px;
}

a{
    color: white;
    font-weight: bolder;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 4vw;
}

section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}


section.imagem{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.781);
    background-attachment: fixed;
}


section.imagem >p{
   display: inline-block;
   padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 0px black;

}

section#img01{
    background-image: url(../imagens/img01.png);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(../imagens/img02.png);
    background-position: right center;
    background-size: cover;
}
section#img04{
    background-image: url(../imagens/img04.png);
    background-position: right center;
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
}

section.imagem {
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    section.imagem {
        background-attachment: scroll; /* melhor para compatibilidade mobile */
    }
}

/* Fonte dos ícones Material Symbols */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

/* Estilo do player */
.romantic-player {
    background: transparent;
    padding: 5px;
    border-radius: 20px;
    width: 200px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
}

/* Botões e controles */
.controls {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Botão play/pause */
#playPause {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
   
   
}

#playPause:hover {
    transform: scale(1.1);
    
}

#playPause span {
    color: white;
    font-size: 33px;
}

/* Seek bar */
#seekBar {
    flex: 1;
    -webkit-appearance: none;
    height: 4px;
    background: #ffffff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin: -10px;
}

#seekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

#seekBar::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff;
}

.volume{
    padding:0;
    margin-left:0;
}

